{
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"standard"
	],
	"extends": [
		"plugin:@typescript-eslint/recommended"
	],
	"env": {
		"node": true,
		"browser": true
	},
	"parserOptions": {
		"ecmaVersion": 2021,
		"sourceType": "module",
		"ecmaFeatures": {
			"legacyDecorators": true,
			"jsx": true
		}
	},
	"settings": {},
	"rules": {
		"prefer-const": "off"
	}
}